/*********************************Elements*****************************************/

body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #f2df3a;
}

h1 {
  color: #f6f6f6;
  font-size: 5.625rem;
  width: 40%;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", serif;
}

h2 {
  color: #f2df3a;
  font-weight: normal;
  font-family: "Montserrat", serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #f2df3a;
  font-family: "Montserrat", serif;
}

a {
  color: #f6f6f6;
  font-family: "Montserrat", serif;
  margin: 10px 20px;
  text-decoration: none;
}

p {
  color: #f6f6f6;
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/*********************************Classes*****************************************/

.Below-h1 {
  color: #f6f6f6;
  font-weight: normal;
  font-family: "Montserrat", serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.top-container {
  padding-top: 100px;
  background-color: #354259;
  position: relative;
}

.middle-container {
  background-color: #1b2430;
  margin: 0;
  padding: 50px;
}

.bottom-container {
  background-color: #354259;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.pp {
  width: 15%;
  height: 15%;
  border-radius: 50%;
}

.analytics {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.writing {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  text-align: left;
  margin: 50px auto;
  width: 50%;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Merriweather", serif;
  color: #f6f6f6;
  font-size: 20px;
  background: #d6ae0f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d9c889;
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.intro {
  margin: auto;
  width: 30%;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
